<!DOCTYPE html>
<html>
<head>
  <title>Stock-Visualization</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>


  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller]%> <%= params[:action]%>">
  <%= render 'layouts/navigation' %>


<div class="container" id="main">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
